body{
	background-color: skyblue;
}
#main{
	height :450px;
	background-color: white;
	margin-top: 100px;
	border-radius: 40px;
}
#info{
	margin-left: 20px;
	padding-top:2px;
}
input[type=text]{
	width:260px;
	box-sizing: border-box;
	border: 2px  solid black;
	border-radius: 4px;
}
